/htdocs/media
/htdocs/var/cache/
/htdocs/var/locks/
/htdocs/var/session/
/htdocs/var/log/
/htdocs/var/report/
/htdocs/var/cachebench/
/htdocs/var/package/tmp/
/htdocs/var/export
/htdocs/var/debug
/htdocs/var/resource_config.json

/htdocs/app/etc/local.xml
/htdocs/magiczoomplus/

/htdocs/.modman
/htdocs/.htaccess
/htdocs/.htpasswd
/htdocs/.sass-cache/

/.idea
/vendor